[*.cs]

dotnet_diagnostic.CS8981.severity = none
dotnet_diagnostic.CA2000.severity = warning

# i18n key constants mirror dotted keys.
[**/MsgKeys.cs]
resharper_inconsistent_naming_highlighting = none