<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <PublishAot>true</PublishAot>
        <SelfContained>true</SelfContained>
        <PublishDir>bin\Release\net10.0\publish\WinX64-NativeAOT\</PublishDir>
    </PropertyGroup>
</Project>
